:root {
  --body-bg: hsl(240, 80%, 98%);
  --body-color: hsl(243, 87%, 12%);
  --btn-primary: hsl(224, 93%, 58%);
  --footer-bg: var(--body-color);
  --border-radius: 4px;
  --place-holder-color: hsl(0, 0%, 75%);
  --body-font-size: 1rem;
  --brand-link-color: hsl(170, 45%, 43%);
  --body-font-weight: 500;
}

/* global css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  color: var(--body-color);
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}
/* helpers classes */
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.flex-column {
  flex-direction: column;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-shrink-0 {
  flex-shrink: 0;
}
.flex-shrink-1 {
  flex-shrink: 1;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

input[type="text"],
input[type="email"] {
  border-radius: var(--border-radius);
  padding: 0.75rem 1rem;
}

.hero-email-input:invalid,
.contact-us-email-input:invalid {
  border: 1px solid red;
}

.hero-form:has(.hero-email-input:invalid) ::after,
.contact-us-form:has(.contact-us-email-input:invalid) ::after {
  position: absolute;
  bottom: 40px;
  left: 0;
  /* color: red; */
  font-weight: 400;
  content: "Please check your email";
}
.hero-form:has(.hero-email-input:invalid) ::after {
  color: red;
}
.contact-us-form:has(.contact-us-email-input:invalid) ::after {
  color: var(--place-holder-color);
}

::placeholder {
  color: var(--place-holder-color);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--place-holder-color);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--place-holder-color);
}

.btn {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: var(--body-bg);
  background-color: var(--btn-primary);
  border-radius: var(--border-radius);
  box-shadow: inset 0 1px 0 rgb(255 255 255 / 0%),
    3px 3px 4px 0px rgb(0 0 0 / 13%);
  border: none;
  padding: 0.75rem 2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

header {
  font-family: "Raleway", sans-serif;
  margin: 2rem 0;
  padding: 2rem 0;
}

.nav-links li:not(:last-child) {
  white-space: nowrap;
  padding: 0 1rem 0 0;
}
header .brand-logo {
  height: 30px;
}
.hero-section {
  margin: 2rem 0 3rem;
  padding: 2rem 0 3rem;
}
.hero-details {
  text-align: center;
  margin-bottom: 2rem;
}
.hero-img {
  margin-bottom: 3rem;
}
.hero-title {
  margin-bottom: 2rem;
}
.hero-form {
  display: flex;
  flex-direction: column;
  position: relative;
}
.hero-email-input {
  border: 1px solid var(--body-color);
  margin-bottom: 1rem;
  outline: none;
}

.productive-section {
  padding-top: 2rem;
  background-image: url("../images/bg-curve-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
.productive-section p {
  margin: 1rem 0;
}

.productive-section h4 {
  margin: 2rem 0;
}
.productive-img-container {
  padding: 4rem 0;
  display: flex;
  align-items: center;
}
.flyo-link-container {
  display: flex;
  justify-content: center;
}

.flyo-link-container .flyo-link {
  margin: 2rem 0;
  padding-bottom: 0.5rem;
  color: var(--brand-link-color);
  border-bottom: 1px solid var(--brand-link-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.flyo-link-container .icon-arrow {
  margin-left: 0.5rem;
  height: 20px;
}

.card {
  font-size: calc(var(--body-font-size) - 3px);
  width: 85%;
  margin: 2rem auto;
  background-color: white;
  box-shadow: 3px 3px 9px 2px rgba(0, 0, 0, 0.068);
  border-radius: var(--border-radius);
  padding: 1.5rem 1.75rem;
  line-height: 20px;
}
.card-footer img {
  height: 30px;
  margin-right: 0.5rem;
  border-radius: 100%;
}
.contact-us {
  background-color: hsl(238, 22%, 44%);
  padding: 3rem 1.5rem;
  color: var(--body-bg);
}
.contact-us p {
  text-align: center;
  margin: 2rem 0;
}
.contact-us-form {
  width: 80%;
  position: relative;
  margin: 0 auto;
}
.contact-us-email-input {
  border: 1px solid transparent;
  outline: none;
  width: 100%;
}
.contact-us-form .btn {
  margin-top: 1rem;
  width: 100%;
}

footer {
  padding: 2rem 2.5rem;
  background-color: var(--footer-bg);
}
footer a {
  color: #ffffff;
}

footer img {
  filter: brightness(0) invert(1);
}

footer .flyo-footer-logo {
  height: 50px;
}
footer ul {
  margin: 1rem 0;
  justify-content: center;
}
footer a {
  display: flex;
  align-items: center;
}
footer a img {
  margin-right: 0.5rem;
}

footer li {
  padding: 0.25rem 0;
}
.social-media-links img {
  border: 1px solid #ffffff;
  border-radius: 100%;
  padding: 0.25rem;
  height: 30px;
}

#footerLinks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

/* media queries */

/* Medium devices (tablets, 375 and up)*/
@media (min-width: 375px) {
  .container {
    max-width: 330px;
  }
}
/* Medium devices (tablets, 576px and up)*/
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  header .brand-logo {
    height: 50px;
  }
  .nav-links li,
  .nav-links li:not(:last-child) {
    padding-left: 2.5rem;
  }
  .hero-section {
    height: 70vh;
  }
  .hero-form:has(.hero-email-input:invalid) ::after {
    bottom: -23px;
  }

  .hero-section-body {
    gap: 10rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .hero-section-body .hero-img {
    margin: 0;
  }
  .hero-section-body .hero-title {
    font-size: 40px;
    text-align: left;
  }
  .hero-details {
    text-align: left;
  }

  .hero-form {
    flex-direction: row;
  }
  .hero-form .hero-email-input {
    margin: 0 0.75rem 0 0;
    flex-grow: 1;
  }
  .hero-form .btn-primary {
    flex-grow: 1;
  }

  .productive-section-body {
    display: flex;
    flex-direction: row-reverse;
    padding: 3rem 0 4rem;
    margin-top: 3rem;
  }
  .productive-section-body .productive-section-detail {
    margin-right: 1rem;
    width: 60%;
  }
  .productive-section-body .card {
    margin-left: 0;
  }
  .productive-img-container {
    width: 40%;
  }
  .productive-section-title {
    font-size: 40px;
    text-align: left;
    margin: 3rem 0 2.5rem;
  }
  .productive-section-content {
    line-height: 24px;
    width: 70%;
  }
  .flyo-link-container {
    justify-content: left;
  }
  .flyo-link-container .flyo-link {
    margin: 0 0 1rem;
  }
  .contact-us {
    padding: 4rem 1.5rem;
  }

  .contact-us-body p {
    text-align: left;
  }
  .contact-us-body {
    display: flex;

    padding: 2.5rem 0;
  }

  .contact-us-body h3 {
    font-size: 30px;
    text-align: left;
  }
  .contact-us-details {
    width: 50%;
  }
  .contact-us .contact-us-form {
    width: 50%;
  }

  .contact-us-form:has(.contact-us-email-input:invalid) ::after {
    bottom: 130px;
  }
  #footerLinks {
    flex-direction: row;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .contact-us-details {
    padding-right: 3rem;
    margin-right: 3rem;
  }
  .contact-us-body p {
    text-align: left;
    padding-right: 3rem;
    margin: 1rem 0;
  }
  .contact-us-form .btn {
    width: auto;
  }
  .contact-us-form:has(.contact-us-email-input:invalid) ::after {
    bottom: 99px;
  }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .card {
    width: 60%;
  }
  .contact-us-form:has(.contact-us-email-input:invalid) ::after {
    bottom: 77px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
  .container {
    max-width: 1280px;
  }
  .card {
    width: 47%;
  }

  .hero-section-body .hero-title {
    line-height: 60px;
  }
  .hero-section-body .hero-details {
    font-size: 18px;
  }

  footer ul {
    width: 25%;
  }
  footer .social-media-links {
    justify-content: left;
  }
}
